[Unit]
Description=Automatically Hide Status Bar in Sway
PartOf=sway-session.target

[Service]
Type=simple
Restart=always
RestartSec=1s
ExecStart=%h/.scripts/autohide_status

[Install]
WantedBy=sway-session.target
