[Unit]
Description=Battery Notification Timer

[Timer]
Unit=battery-notify.service
OnStartupSec=0
OnUnitActiveSec=30s

[Install]
WantedBy=sway-session.target
