/*
!/.gitignore
!/.profile
!/.bashrc
!/.config
/.config/*
!/.config/alacritty
!/.config/fish
/.config/fish/fish_variables
!/.config/i3status
!/.config/mako
!/.config/mpd
!/.config/ncmpcpp
!/.config/npm
!/.config/nvim
/.config/nvim/.netrwhist
!/.config/python
!/.config/sway
!/.config/swaylock
!/.config/swaynag
!/.config/systemd
/.config/systemd/user/*.wants
!/.local
/.local/*
!/.local/bin
