/*
!/.gitignore
!/.profile
!/.bashrc
!/.config
/.config/*
!/.config/alacritty
!/.config/i3status
!/.config/mako
!/.config/mpd
!/.config/ncmpcpp
!/.config/nvim
/.config/nvim/.netrwhist
!/.config/sway
!/.config/swaylock
!/.config/swaynag
!/.config/systemd
/.config/systemd/user/*.wants
!/.scripts
